// fonts
$font-primary: 'Poppins', sans-serif;

//colors
$indigo-300: #A5B4FC;
$indigo-800: #3730A3;
$indigo-900: #312E81;

$green-400: #34D399;
$green-500: #10B981;

$red-500: #EF4444;


$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;

$white: #fff;

//border-radius
$rounded-sm: 15px;
$rounded: 20px;

//breakpoints
$breakpoints: (
  small: 375px,
  medium: 768px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px
);