@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './normalize.css';

*,
*:before,
*:after
{
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-primary;
  background-color: $indigo-900;
  color: $white;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.view {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 45vh;
  background-color: $indigo-800;
  border-radius: $rounded;
  padding: 2rem;
  box-shadow: 0px 10px 120px rgba(0, 0, 0, 0.25);
}