@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import './normalize.css';

*,
*:before,
*:after
{
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-primary;
  background-color: $indigo-900;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.view {
  flex: 1;
}